/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, system-ui, Avenir, Helvetica, Arial, sans-serif; }
} */

#input {
  --pico-background-color: var(--pico-form-element-background-color);
  --pico-border-color: var(--pico-form-element-border-color);
  --pico-color: var(--pico-form-element-color);
  --pico-box-shadow: none;
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: 0;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  color: var(--pico-color);
  font-weight: var(--pico-font-weight);
  transition: background-color var(--pico-transition),
    border-color var(--pico-transition), color var(--pico-transition),
    box-shadow var(--pico-transition);

  padding: var(--pico-form-element-spacing-vertical)
    var(--pico-form-element-spacing-horizontal)
    var(--pico-form-element-spacing-vertical) 0;
  margin: 0 0 var(--pico-spacing) 0;

  width: 100%;
  overflow: auto;

  font-size: 1rem;
  line-height: var(--pico-line-height);
  font-family: var(--pico-font-family-monospace);
  letter-spacing: inherit;
}

#input:has(.cm-editor.cm-focused) {
  --pico-box-shadow: 0 0 0 var(--pico-outline-width)
    var(--pico-form-element-focus-color);
  --pico-border-color: var(--pico-form-element-active-border-color);
  --pico-background-color: var(--pico-form-element-active-background-color);
}

#input .cm-editor .cm-scroller { 
  font-family: var(--pico-font-family-monospace);
}

#input .cm-editor .cm-content { 
  font-family: var(--pico-font-family-monospace);
}

#output {
  font-size: 1rem;
  line-height: var(--pico-line-height);
  font-family: var(--pico-font-family-monospace);
  letter-spacing: inherit;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-bottom: calc(var(--pico-spacing) * 0.375);
  color: var(--pico-color);
  font-weight: var(--pico-form-label-font-weight, var(--pico-font-weight));
}

.mb {
  margin-bottom: var(--pico-spacing);
}

.only-md {
  display: none;
}

small kbd {
  padding: 0.25rem;
}

@media screen and (min-width: 768px) {
  #output {
    flex-grow: 1;
  }

  .only-md {
    display: initial;
  }
}

@media screen and (max-width: 420px) {
  [role="group"] {
    flex-direction: column;
  }


  [role="group"] > * {
    margin-left: 0 !important;
  }

  [role="group"] > button {
    border-radius: 0;
  }

  [role="group"]>:not(:first-child) {
    margin-top: 0;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
  }

  [role=group] button:not(:first-child) {
    margin-top: calc(var(--pico-border-width) * -1);
  }

  /* [role="group"]>:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  } */

  [role="group"]>button:is(:first-child) {
    border-top-left-radius: var(--pico-border-radius);
    border-top-right-radius: var(--pico-border-radius);
  }

  [role="group"]>button:is(:last-child) {
    border-bottom-left-radius: var(--pico-border-radius);
    border-bottom-right-radius: var(--pico-border-radius);
  }
}